body {
    background:#4d4949;
  }
  h1,
  p {
    text-align: center;
    font-family: Geneva, Verdana, sans-serif;
  }
  p {
    color: rgba(0, 0, 0, 0.5);
  }
  hr {
    width: 10%;
  }
  .q {
    background-color: green;
    width: 48px;
    height: 3.5px;
    position: absolute;
    left: 48%;
    top: 80px;
  }
  
  .one,
  .two,
  .three,
  .five,
  .six,
  .seven {
    border-radius: 10px;
    /*  حدود دائرية  */
    width: 250px;
    height: 200px;
    background: #fff;
    float: left;
    margin: 1px 20px 30px 50px;
    position: relative;
    /* هيتحرك من نفس مكانه   */
    left: 13%;
    overflow: hidden;
    /*  تجاوز النص*/
  }
  
  .four {
    clear: both;
  }
  /* لمسح اليمين والشمال لل float */
  .eight {
    clear: both;
  }
  
  .photo1,
  .photo2,
  .photo3,
  .photo5,
  .photo6,
  .photo7 {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: -5%;
    transform: translate(-50%, 20%);
    /*  شكل العناصر ثلاثي الأبعاد  */
    border: rgba(205, 206, 194, 0.521) 2px solid;
    border-radius: 50px;
  }
  .p1 {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 13px;
  }
  .pq {
    font-family: Geneva, Verdana, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: rgba(0, 0, 0);
  }
  .one:hover {
    box-shadow: 10px 10px 5px 5px grey;
    transition: all 200ms cubic-bezier(0, 0, 0, 0.56);
  }
  .two:hover {
    box-shadow: 10px 10px 5px 5px grey;
    transition: all 200ms cubic-bezier(0, 0, 0, 0.56);
  }
  .three:hover {
    box-shadow: 10px 10px 5px 5px grey;
    transition: all 200ms cubic-bezier(0, 0, 0, 0.56);
  }
  .five:hover {
    box-shadow: 10px 10px 5px 5px grey;
    transition: all 200ms cubic-bezier(0, 0, 0, 0.56);
  }
  .six:hover {
    box-shadow: 10px 10px 5px 5px grey;
    transition: all 200ms cubic-bezier(0, 0, 0, 0.56);
  }
  .seven:hover {
    box-shadow: 10px 10px 5px 5px grey;
    transition: all 200ms cubic-bezier(0, 0, 0, 0.56);
  }
  